<!--<h4>-->
    <!--<a class="brand" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
    <!--{% if site.subtitle %}-->
    <!--<small>{{ site.subtitle }}</small>-->
    <!--{% endif %}-->
<!--</h4>-->

<header class="header-21">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#">PECKER</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/getting-started/overview/">Getting Started</a></li>
                        <li><a href="{{ site.baseurl }}/documentation/installation">Documentation</a></li>
                        <li><a href="{{ site.codeurl }}">Source</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>