<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

<meta name="description" content="{{ site.subtitle }}">
<title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>

<link rel="shortcut icon" href="{{ site.baseurl }}/img/1411844936_196741.ico">
<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.baseurl }}/flat-ui/css/flat-ui.css">
<link rel="stylesheet" href="{{ site.baseurl }}/flat-ui/css/flat-ui.css">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/icon-font.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animations.css">

<link rel="stylesheet" href="{{ site.baseurl }}/ui-kit/ui-kit-header/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/ui-kit/ui-kit-content/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/ui-kit/ui-kit-blog/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/ui-kit/ui-kit-contacts/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/ui-kit/ui-kit-crew/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/ui-kit/ui-kit-price/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/ui-kit/ui-kit-projects/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/ui-kit/ui-kit-footer/css/style.css">

<link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
