
@import "variables";
@import "mixins";
@import "type";

@import "includes/navigation";
@import "includes/header";
@import "includes/footer";

@import "grid";
@import "layouts/default";
@import "layouts/landing";
@import "layouts/getting-started";
@import "layouts/page";

@import "pages/index";

body {
  font-weight: 400;
}

pre, code {
  border: none;
  border-radius: 0;
  background-color: #f9f9f9;
  font-size: 0.15em;
}

pre {
  font-size: 0.95em;
  line-height: 1.7em;
}

code {
  color: inherit;
}

table {
  width: 100%;
}
table th,
table td {
  padding: 5px 15px;
}
table th {
  border-bottom: 1px solid $gray-lighter;
}