
@import "variables";

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}
@import "bootstrap/type";

.page-header {
  &:first-child {
    margin-top: 0;
    h2 {
      margin-top: 0;
    }
  }
}