@mixin default-header () {

  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding: 10px 15px;
  h4 {
    .brand {
      padding-right: 20px;
      &:hover {
        text-decoration: none;
      }
    }
  }

}

@mixin landing-header () {
  .navigation-bar {
    @extend .navbar;
    @extend .navbar-default;

    border: 0;
    background-color: transparent;

    .navigation-bar-container {
      @extend .container-fluid;
      margin: 10px 0 0;
      padding: 0;

      .navigation-bar-header {
        @extend .navbar-header;

        padding-right: 15px;
        .navigation-bar-toggle-button {
          @extend .navbar-toggle;
        }

        h4 {
          margin: 9px 0 0;
          .brand {
            padding: 0 75px 0 0;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .navigation-bar-content {
        @include landing-navigation();
      }
    }





  }


}
