<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>
<div class="page-wrapper">

    <header class="header-21">
        <div class="container">
            <div class="row">
                <div class="navbar col-sm-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>
                        <a class="brand" href="#">PECKER</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                            <li><a href="{{ site.baseurl }}/getting-started/overview/">Getting Started</a></li>
                            <li><a href="{{ site.baseurl }}/documentation/installation">Documentation</a></li>
                            <li><a href="{{ site.codeurl }}">Source</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="header-21-sub v-center" style="height: 710px;">
        <div>
            <div class="background">&nbsp;</div>
            <div class="container">
                <h3>
                    <img class="hl" src="img/1411844934_open-box.png" width="128" height="128" alt="">
                    PECKER
                </h3>

                <p class="lead">{{ site.titlelead }}
                </p>

                <!--<div class="btns">-->
                <!--<a class="btn btn-primary" href="{{ site.baseurl }}/getting-started/overview/">Getting Started</a>-->
                <!--<a class="btn btn-inverse" href="{{ site.baseurl }}/documentation/installation">Documentation</a>-->
                <!--<a class="btn btn-inverse" href="{{ site.codeurl }}">Source</a>-->
                <!--</div>-->
            </div>
        </div>
        <a class="control-btn fui-arrow-down" href="#"> </a>
    </section>
    <section class="content-36">
        <div class="container">
            <h2>Quickstart</h2>

            <div class="highlight" style="text-align: left;">
                <pre style="padding-left:150px;">
                <code class="language-bash" data-lang="bash">
                    <span class="nv">$ </span>npm install pecker-cli -g <span class="c"># install Pecker CLI</span>
                    <span class="nv">$ </span><span class="nb">cd </span>path/to/your/project <span class="c"># navigate to your project</span>
                    <span class="nv">$ </span>pecker init <span class="c"># initialize configuration file using the interactive CLI</span>
                    <span class="nv">$ </span>pecker <span class="c"># run build</span>
                </code></pre>
            </div>

            <br/>
            <h4>Congratulations! You have just configured your project and build your assets!</h4>

            <br/>
            <br/>

            <a class="btn btn-success control-btn" href="{{ site.baseurl }}/getting-started/overview/">Continue
                to learn more</a>

        </div>

    </section>
    <section class="content-26 bg-clouds">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3>Take control of your web application assets</h3>

                    <p class="lead">Pecker makes it easy for you to manage your assets pipeline, enabling you to deliver
                        quality web application</p>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-3">
                    <img src="img/gulp-round-2x.png" alt="" width="100" height="100">
                    <h6>Built upon Gulp</h6>
                    Gulp enables simple and intuitive build for your assets
                </div>

                <div class="col-sm-4 col-sm-offset-1">
                    <img src="assets/icons/Responsive1@2x.png" alt="" width="100" height="100">
                    <h6>Stylesheets, scripts, images and more!</h6>
                    You can easily manage a variety of asset types in your web application projects.
                </div>
                <div class="col-sm-3 col-sm-offset-1">

                    <img src="assets/icons/Umbrella@2x.png" alt="" width="107" height="100">
                    <h6>Future-proof with ES6</h6>
                    Browserify for your CommonJS modules. (AMD too, with <a
                        href="https://github.com/jaredhanson/deamdify">a little help</a>)
                </div>
            </div>
            <div class="row features">

                <div class="col-sm-3">
                    <img src="assets/icons/Spaceship@2x.png" alt="" width="100" height="100">
                    <h6>Co-exist with your build tools</h6>
                    Grunt, Broccoli and even Make!
                    <br/>
                    Let Pecker handle assets management and be part of your build workflow.

                </div>
                <div class="col-sm-4 col-sm-offset-1">

                    <img src="assets/icons/Box1@2x.png" alt="" width="88" height="70">
                    <h6>Integrate with modern package managers</h6>
                    Leverage <a href="https://npmjs.org">NPM</a> and <a href="https://bower.io">Bower</a> package
                    managers for both your server and client-side code.
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <img src="assets/icons/Clipboard@2x.png" alt="" width="100" height="100">
                    <h6>Full of features</h6>
                    Asset watcher, on-demand build, cache-busters and more!
                </div>
            </div>
        </div>



    </section>
    <section class="content-12">
        <a class="wide btn-wide" href="{{ site.baseurl }}/getting-started/overview/">Get
            Started Now</a>
    </section>

    <footer class="footer-4 bg-midnight-blue">
        <div class="container">
            <span class="brand-text">PECKER was cold-heartedly engineered with highest degree of penetrative precision by <a
                    class="brand" href="https://twitter.com/sogko">@sogko</a></span>
        </div>
    </footer>
    <footer class="footer-5 bg-wet-asphalt">
        <div class="container">
            <a class="brand" href="#">
                <img src="img/1411844934_open-box.png" width="35" height="35" alt="">
            </a>

            <div class="row">
            </div>
        </div>
    </footer>

</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery-1.10.2.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.custom.js"></script>
<script src="assets/js/page-transitions.js"></script>
<script src="assets/js/easing.min.js"></script>
<script src="assets/js/jquery.svg.js"></script>
<script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="assets/js/jquery.svganim.js"></script>
<script src="assets/js/jquery.parallax.min.js"></script>
<!--<script src="assets/js/startup-kit.js"></script>-->
<script src="js/startup-kit.js"></script>
<script src="js/script.js"></script>
</body>
</html>